{% extends "base.html" %}
{% block title %}Cancel a event{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>
            {{ event.name }}
        </h3>
        
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        
        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('event_page.cancel', id=event.id) }}">
            
            {{ form.csrf_token }}
            {{ render_field(form.confirm, class="form-control") }}
            
            <button type="submit" class="btn btn-danger">
                Cancel Event
            </button>
            <a href="{{ url_for('event_page.edit', id=event.id) }}">back to edit event</a>
        </form>
    </div>
</div>
{% endblock %}