{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">
            Find an Event
        </h1>
        <p class="lead text-muted">
            If you want to go fast, go alone, If you want to go far, go together.
        </p>
        
        <form method="GET" action="{{ url_for('event_page.explore') }}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for place..."
                       id="autocomplete">
                <input type="hidden" name="place" id="place">
                <input type="hidden" name='lng' id="lng">
                <input type="hidden" name="lat" id="lat">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">
                        Go!
                    </button>
                </span>
            </div>
        </form>
    </div>
    
</div>

{% if events and events.pages > 0 %}
<p class="text-muted text-center">
    Event near {{ place }}
</p>


<div class="row">
    {% for event in events.items %}
    <div class="col-md-6 event-item">
        <div class="card">
            <a href="{{ url_for('event_page.public', id=event.id) }}" target="_blank">
            {% if event.event_photo %}
            <img class="card-img-top event-photo-item" src="{{ event.event_photo}}">
            {% else %}
            <img class="card-img-top event-photo-item" src="{{ url_for('static', filename='img/event.png')}}">
            {% endif %}
            </a>
            <div class="card-block">
                <h4 class="card-title">
                    {{ event.name }}
                </h4>
                <p class="card-text">
                    {{ event.description[:150] }}
                </p>
                <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="http://maps.google.com?q={{ event.place }}" target="_blank">
                    {{ event.place }}
                    </a>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{ event.start_datetime.strftime("%Y-%m-%d %I:%M%p") }} 
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ event.attendees|length }} attending
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    <ul class="pagination">
        {% if events.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('event_page.explore',
                                       event_page_number=events.prev_num, place=place, lng=lng, lat=lat) }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <p class="page-link">
                Page {{ events.page }} of {{ events.pages }}
            </p>        
        </li>
        {% if events.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('event_page.explore', 
                                       event_page_number=events.next_num, place=place, lng=lng, lat=lat) }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% elif place %}
<p class="text-muted text-center">
    We couldn't find any events here :(
</p>
{% else %}
{% endif %}

{% endblock %}
{% block javascript %}
{% include "googleapi.html" %}
{% endblock %}
