{% extends "base.html" %}
{% block title %}Manange Event{% endblock %}
{% block content %}

<h1>
    My Events
</h1>

<div class="row">
    {% for event in events.items %}
    <div class="col-md-6 event-item">
        <div class="card">
            {% if event.event_photo %}
            <img class="card-img-top event-photo-item" src="{{ event.event_photo}}">
            {% else %}
            <img class="card-img-top event-photo-item" src="{{ url_for('static', filename='img/event.png')}}">
            {% endif %}
            <div class="card-block">
                <h4 class="card-title">
                    {{ event.name }}
                </h4>
                <p class="card-text">
                    {{ event.description[:150] }}
                </p>
                <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="http://maps.google.com?q={{ event.place }}" target="_blank">
                    {{ event.place }}
                    </a>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{ event.start_datetime.strftime("%Y-%m-%d %I:%M%p") }} 
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ event.attendees|length }} attending
                </p>
                {% if event.cancel %}
                <button class="btn btn-danger">
                    Canceled
                </button>
                {% else %}
                <a href="{{ url_for('event_page.edit', id=event.id) }}" class="btn btn-success">
                    Edit
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    <ul class="pagination">
        {% if events.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('event_page.manage',
                                       event_page_number=events.prev_num) }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <p class="page-link">
                Page {{ events.page }} of {{ events.pages }}
            </p>        
        </li>
        {% if events.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('event_page.manage', 
                                       event_page_number=events.next_num) }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}